.popup__name {
  margin: 48px auto 0;
  padding-bottom: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  box-sizing: border-box;
  width: 100%;
}

@media screen and (max-width: 425px) {
  .popup__name {
    margin: 75px auto 0;
  }
}

